@import "tailwindcss";

@font-face {
  font-family: 'outfit-bold';
  src: url('/fonts/Outfit-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'outfit-semibold';
  src: url('/fonts/Outfit-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'switzer-light';
  src: url('/fonts/Switzer-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'switzer-regular';
  src: url('/fonts/Switzer-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #059669;
  --color-secondary: #f59e0b;
  --color-cream: #fffeef;
  --color-green-500: #0BD294;

  /* font-family */
  --font-body: "switzer-regular", sans-serif;
  --font-heading: "outfit-semibold", sans-serif; 

  /* font-size */
  --text-25: 25px;
  --text-32: 32px; 
  --text-40: 40px;
  --text-60: 60px;
  --text-70: 70px;

  --shadow-black: 0px 5px 10px 0px #0000001a;
  /* lineheight */
  --spacing-100p: 100%;

  /* Custom neccessary Breakpoints */
  --breakpoint-mdscreen: 990px;
  --breakpoint-mdscreen1: 768px;
  --breakpoint-extlarge_desktop: 1920px;
  --breakpoint-extlarge_desktop1: 2000px;
}
@layer base {
  ::before,
  ::after {
    @apply box-border;
  }
  html,
  body {
    @apply scroll-smooth!;
  }
  body {
    @apply p-0 m-0 lg:text-lg lg:leading-6 text-base leading-5 font-normal font-body text-black antialiased bg-cream tracking-[0.03em];
    -webkit-font-smoothing: antialiased;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply m-0 outline-0 font-heading text-black;
  }
}
/* h2, .h2 {
  @apply mdscreen:text-4xl mdscreen:leading-[44px] text-2xl leading-8;
} */
p { 
  @apply lg:text-lg lg:leading-6 text-base leading-5 font-normal antialiased font-body tracking-[0.07em];
}
a {
  @apply transition-all duration-300 ease-in-out tracking-normal *:tracking-normal;
}
.container {
  @apply 2xl:px-25 xl:px-[55px] md:px-6 px-5 max-w-full mx-auto;
}
.navigation-panel .nav-item {
  @apply lg:text-lg text-base leading-6 font-medium text-primary;
} 
.link-paddle {
  @apply relative inline-block overflow-hidden;
}  
.link-paddle-top,
.link-paddle-bottom {
  @apply block transition-transform duration-300 will-change-transform
           ease-[cubic-bezier(.4,0,.2,1)];
}
.link-paddle-bottom {
  @apply absolute left-0 top-full;
}
.link-paddle-item:hover .link-paddle-top {
  @apply -translate-y-full;
}
.link-paddle-item:hover .link-paddle-bottom {
  @apply -translate-y-full;
}

.btn-link-paddle {
  @apply relative inline-block overflow-hidden h-6;
}  
.btn-link-paddle-top,
.btn-link-paddle-bottom {
  @apply block transition-transform duration-300 will-change-transform
           ease-[cubic-bezier(.4,0,.2,1)];
}
.btn-link-paddle-bottom {
  @apply absolute left-0 top-full;
}
.btn-link-paddle-item:hover .btn-link-paddle-top {
  @apply -translate-y-full;
}
.btn-link-paddle-item:hover .btn-link-paddle-bottom {
  @apply -translate-y-full;
}

/* sets 3D depth */
.perspective {
  perspective: 1200px;
  perspective-origin: center;
  overflow: hidden;
}
@layer components {
  .button,
  .ctm-button {
    @apply relative inline-flex overflow-hidden z-1 cursor-pointer w-fit font-normal font-body capitalize text-white min-h-[55px] text-xl text-center leading-[23px] items-center justify-center px-[32px] max-md:px-6 py-4 border duration-300 ease-out max-lg:min-h-[45px] max-md:min-h-[40px] max-md:py-2.5 max-lg:text-lg max-md:text-base max-md:leading-[21px] transition-[color,background-color,border-color,transform,box-shadow];
  }

  .btn-green {
    @apply bg-primary text-cream border border-solid border-primary;
  }

  .btn-cream {
    @apply bg-cream text-primary border border-solid border-cream;
  }

}
.custom-transition {
  @apply transition-all duration-300 ease-in-out;
}

.social-link {
  position: relative;
  display: inline-flex;
  align-items: center;
}
/* icon hidden + not taking space */
.social-icon {
  position: absolute;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition:
    opacity 0.3s ease,
    transform 0.3s cubic-bezier(.4,0,.2,1);
        width: 0;
    display: none;
}

/* text stays fixed */
.social-text {
  transition: transform 0.3s cubic-bezier(.4,0,.2,1);
}

/* on hover → reveal icon + move text */
.social-link:hover .social-icon {
  opacity: 1;
  transform: scale(1);
          width: auto;
    display: block;
}

.social-link:hover .social-text {
  transform: translateX(44px);
}